/*!
Theme Name: Kadence Child SkinPerfectSpas
Theme URI: https://www.kadencewp.com/kadence-theme/
Template: kadence
Author: Anne S. Katzeff
Author URI: https://www.askdesign.biz
Description: A child theme for SPS, based on the Kadence Theme.
Version: 1.0.0
License: GNU General Public License v3.0 (or later)
License URI: https://www.gnu.org/licenses/gpl-3.0.html
Text Domain: kadence-child-skinperfectspas
*/

/* Theme customization starts here
-------------------------------------------------------------- */

/* --- STYLESHEET - see more in Appearance > Customize > Additional CSS --- */
/* -- 2nd nav -- */
.menu-item-2706 {
    display: none;
}

.spa-logo {
	/* -- SPS logo 308 + 30px padding -- */
	width: 308px;
	margin-right: 30px
}

.sans-font {
	font-family: var(--global-body-font-family);
}

.main-navigation, .secondary-navigation,
.site-footer p {
	font-size: 15px;
	font-size: .9375rem;
}

.site-footer-section {
    position: relative;
    color: #ffffff;
}

/* -- services -- */

.servicecategory {
	font-family: var(--global-body-font-family);
	font-size: var(--wp--preset--font-size--large)
}

.services-subhd {
	font-family: var(--global-body-font-family);
 	text-transform: uppercase;
	color: #236192;
}

/* -- main page heads -- */
h2.page-title {
	position: relative;
	font-size: 170px;
	line-height: 68px;
}

h2.page-subtitle {
	font-size: 90px;
	line-height: 80px;
}

/* -- Services / Beauty Services images -- */
.colhd-overlap-image-rgt {
	padding-right: 8rem;
}	

.no-overlap-image {
	max-width: 50%;
}

/* -- MEDIA QUERIES -- no longer necessary to include "only" after media call */
/* -- Kadence Theme Default Widths = KTDW
    --global-content-width: 1290px;
    --global-content-wide-width: calc(1290px + 230px);
    --global-content-narrow-width: 842px; 
    -- */

/* -- Google Tools = G -- /


/* -- KTDW global-content-wide-width -- */

@media screen and (max-width: 1520px) {

	
}

/* -- Laptop L - G -- */
@media screen and (max-width: 1440px) {
/* -- HOME -- */
.home-hero.kb-row-layout-id11_7164ca-20 {
	background-position: 0 -5rem;
}


}
	

/* -- KTDW global-content-width -- */

@media screen and (max-width: 1290px) {

	
}

/* -- Laptop -- */

@media screen and (max-width: 1280px) {

	
}


/* -- Mobile Nav Breakpoint -- */

@media screen and (max-width: 1139px) {
/* -- 2nd nav displays on mobile -- */
.menu-item-2706 {
    display: block;
}

	
}

/* Laptop L - G / iPads (portrait) -- */

@media screen and (max-width: 1024px) {

/* -- HOME -- */

/* -- main page heads -- */

h2.page-title {
	font-size: 96px;
}

h2.page-subtitle {
    font-size: 52px;
    line-height: 46px;
}

/* -- FOOTER -- */
.site-container .site-middle-footer-inner-wrap {
    padding-bottom: 1.5rem;
}


/* -- SERVICES images -- */
.colhd-overlap-image-wrap .colhd-overlap-image-lft {
    margin-right: -30px;
    margin-left: 70px;
}	

.colhd-overlap-image-wrap .colhd-overlap-image-rgt-no-pad {
	margin-right: 70px;
    margin-left: -30px;
}

/* -- SKIN / BEAUTY Services images -- */
.colhd-overlap-image-wrap .colhd-overlap-image-rgt {
	margin-right: 70px;
    margin-left: -30px;
	padding-right: 2rem;
}	

.tri-colhd-overlap-image-wrap .colhd-overlap-image-lft-1 {
	margin-right: -30px;
	margin-left: 70px;
}


.tri-colhd-overlap-image-wrap .colhd-overlap-image-rgt-2 {
	margin-right: 30px;
	margin-left: -30px;
}


}

/* mobile device -- */
@media screen and (max-width: 960px) {


}

/* -- KTDW global-content-narrow-width -- */

@media screen and (max-width: 842px) {

/* -- SERVICES images -- */
.colhd-overlap-image-wrap .colhd-overlap-image-lft {
    margin-right: -30px;
    margin-left: 35px;
}

.colhd-overlap-image-wrap .colhd-overlap-image-rgt-no-pad {
	margin-right: 35px;
    margin-left: -30px;
}


/* -- SKIN / BEAUTY Services images -- */
.colhd-overlap-image-wrap .colhd-overlap-image-rgt {
	margin-right: 35px;
    margin-left: -30px;
	padding-right: 0rem;
}	

.tri-colhd-overlap-image-wrap .colhd-overlap-image-lft-1 {
	margin-right: -30px;
	margin-left: 35px;
}


.tri-colhd-overlap-image-wrap .colhd-overlap-image-rgt-2 {
	margin-right: 15px;
	margin-left: -30px;
}


}




/* Kindle -- */
@media screen and (max-width: 800px) {


}



/* Tablet - G / iPhones (portrait and landscape) ----- */

@media screen and (max-width: 768px) {

/* -- main page heads -- */

h2.page-title {
	font-size: 86px;
}

h2.page-subtitle {
	font-size: 46px;
    line-height: 40px;
}

/* -- SERVICES images -- */
.colhd-overlap-image-wrap .colhd-overlap-image-lft {
    margin-right: -30px;
    margin-left: 15px;
}

.colhd-overlap-image-wrap .colhd-overlap-image-rgt-no-pad {
	margin-right: 15px;
    margin-left: -30px;
}

/* -- SKIN / BEAUTY Services images -- */
.colhd-overlap-image-wrap .colhd-overlap-image-rgt {
	margin-right: 15px;
    margin-left: -30px;
	padding-right: 0rem;
}	

.tri-colhd-overlap-image-wrap .colhd-overlap-image-lft-1 {
	margin-right: -30px;
	margin-left: 15px;
}


.tri-colhd-overlap-image-wrap .colhd-overlap-image-rgt-2 {
	margin-right: 8px;
	margin-left: -30px;
}


}


/* Kindle Fire & Tablets ---------------- */

@media screen and (max-width: 600px) {


/* -- SERVICES images -- */
.colhd-overlap-image-wrap .colhd-overlap-image-lft {
    margin-right: 0;
    margin-left: 0;
}

.colhd-overlap-image-wrap .colhd-overlap-image-rgt-no-pad {
	margin-right: 0;
    margin-left: 0;
}

/* -- SKIN / BEAUTY Services images -- */
.colhd-overlap-image-wrap .colhd-overlap-image-rgt {
	margin-right: 0;
    margin-left: 0;
	padding-right: 0rem;
}	

.tri-colhd-overlap-image-wrap .colhd-overlap-image-lft-1 {
	margin-right: 0;
	margin-left: 0;
	padding-right: var(--global-kb-spacing-lg, 3rem);
    padding-left: var(--global-kb-spacing-lg, 3rem);
}


.tri-colhd-overlap-image-wrap .colhd-overlap-image-rgt-2 {
	margin-right: 0;
	margin-left: 0;
	padding-right: var(--global-kb-spacing-lg, 3rem);
    padding-left: var(--global-kb-spacing-lg, 3rem);
}

.no-overlap-image {
	max-width: 82%;
}

.tri-col-to-one-image {
	padding-right: var(--global-kb-spacing-lg, 3rem);
    padding-left: var(--global-kb-spacing-lg, 3rem);
}

}

/* Tablet ---------------- */

@media screen and (max-width: 480px) {


/* -- main page heads -- */

h2.page-title {
	font-size: 58px;
}

h2.page-subtitle {
	font-size: 31px;
    line-height: 27px;
}

h3.page-tagline {
	padding: 0 4.25rem;
}

h3.page-tagline-long {
    padding: 0px 5.7rem;
}

.site-footer p {
    font-size: .875rem;
}

}


/* Mobile L - G (portrait) ----------------- */

@media screen and (max-width: 425px) {

.colhd-overlap-image-wrap > .kt-row-column-wrap {
	padding-right: 2rem !important;
    padding-left: 2rem !important;
}

.tri-colhd-overlap-image-wrap .colhd-overlap-image-lft-1,
.tri-colhd-overlap-image-wrap .colhd-overlap-image-rgt-2,
.tri-col-to-one-image {
    padding-right: 2rem;
    padding-left: 2rem;
}
	
}

/* Mobile M - G / iPhones ------------------ */

@media screen and (max-width: 375px) {

/* -- main page heads -- */


h3.page-tagline-long {
    padding: 0px 4.25rem;
}

}

/* Mobile M - G / iPhones ------------------ */

@media screen and (max-width: 320px) {


}

