/*!
Theme Name: Kadence Child SkinPerfectSpas
Theme URI: https://www.kadencewp.com/kadence-theme/
Template: kadence
Author: Anne S. Katzeff
Author URI: https://www.kadencewp.com/
Description: A child theme for SPS, based on the Kadence Theme.
Version: 1.0.0
License: GNU General Public License v3.0 (or later)
License URI: https://www.gnu.org/licenses/gpl-3.0.html
Text Domain: kadence-child-skinperfectspas
*/

/* Theme customization starts here
-------------------------------------------------------------- */

/* --- Additional CSS --- */
/** place into style.css, test, then delete once the cache resolves **/


/* -- header -- */

.site-header-row.site-header-row-center-column {
    grid-template-columns: 1fr 4fr 1fr;
}

.site-header-section-center {
    justify-content: start;
}

.site-main-header-inner-wrap {
    min-height: 53px;
    align-items: baseline;
    padding: 34px 0 26px;
}



/* -- footer -- */
.site-footer-row.site-footer-row-columns-3 {
    grid-template-columns: minmax(0, 3fr) minmax(0, 2fr) minmax(0, 1fr);
	align-items: center
}

/* -- dashicons - for beauty page alternatives -- */
.dashicons-art {
    height: 25px;
    font-size: 25px;
    width: 25px;
}

/* -- flex adjustments -- */
.base-align {
    align-items: baseline;
}

/* -- CMP beauty services hd -- */
.kadence-column1614_26969e-33 > .kt-inside-inner-col {
	align-items: baseline;
}


/* -- MEDIA QUERIES that need higher specificity than the stylesheet -- */

/* -- Laptop L - G -- */
@media screen and (max-width: 1440px) {
    
/* -- HOME -- */

.home-hero .kt-row-column-wrap {
    min-height: 880px;
}


}
	

@media screen and (max-width: 1024px) {
	
/* -- HOME -- */
	
.home-hero .kt-row-column-wrap {
    min-height: 604px;
}
	
.home-cta .kt-row-column-wrap {
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.home-cta > .kt-row-column-wrap > *:nth-child(3n of *:not(style)) {
    grid-column: initial;
}

.home-cta .kt-inside-inner-col {
    min-height: 510px;
}


/* -- FOOTER -- */

.footer-widget-area.content-align-right .footer-social-inner-wrap {
    justify-content: center;
}

	
}

/* mobile device -- */
@media screen and (max-width: 960px) {

/* -- HOME -- */

.home-hero .kt-row-column-wrap {
    min-height: 562px;
}


/* -- HEADS AND TEXT -- */
h1 {
	font-size: 28px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 20px;
}


h4 {
	font-size: 18px;
}

h5 {
	font-size: 16px;
}


h6 {
	font-size: 16px;
}


body {
	font-size: 16px;
}

}


/* -- KTDW global-content-narrow-width -- */

@media screen and (max-width: 842px) {

/* -- HOME -- */

.home-hero .kt-row-column-wrap {
    min-height: 482px;
}

	
}



/* Kindle -- */
@media screen and (max-width: 800px) {

/* -- HOME -- */

.home-cta .kt-row-column-wrap {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
	
.home-cta > .kt-row-column-wrap > *:nth-child(3n of *:not(style)) {
    grid-column: 1 / -1;
}

.child-3 .kt-inside-inner-col {
	min-height: 410px;
}

}

/* Tablet - G / iPhones (portrait and landscape) ----- */
@media screen and (max-width: 768px) {

/* -- Logo -- */
.site-branding a.brand img {
    max-width: 242px;
}

.wp-block-image img.wp-image-734 {
    max-width: 242px;
}

/* -- footer -- */
.kb-row-layout-wrap.kb-row-layout-idblock-21_65ec87-c8 > .kt-row-column-wrap {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
	
}


/* Tablet - G / iPhones (portrait and landscape) ----- */

@media screen and (max-width: 767px) {

}


/* Kindle Fire & Tablets ---------------- */

@media screen and (max-width: 600px) {

/* -- HOME -- */

.home-hero .kt-row-column-wrap {
   min-height: 322px;
}
	
.child-3 .kt-inside-inner-col {
   min-height: 360px;
}
	
	/* -- Beauty Services > Color & Makeup > Color Analysis - Boxed Headline -- */
.kb-row-layout-id2729_3440b3-01 > .kt-row-column-wrap {
    max-width: 33%;
}

}

/* Tablet ---------------- */

@media screen and (max-width: 480px) {

/* -- HOME -- */

.home-hero .kt-row-column-wrap {
    min-height: 242px;
}
	
.home-cta .kt-row-column-wrap {
    grid-template-columns: minmax(0, 1fr);
}
	
.home-cta .kt-inside-inner-col {
    min-height: 0px;
}
	

/* -- HEADS AND TEXT -- */
h1 {
	font-size: 26px;
}

h2 {
	font-size: 22px;
}

h3 {
	font-size: 18px;
}


h4 {
	font-size: 16px;
}

h5 {
	font-size: 15px;
}


h6 {
	font-size: 15px;
}


body {
	font-size: 15px;
}

}


/* Mobile L - G (portrait) ----------------- */

@media screen and (max-width: 425px) {

/* -- HOME -- */

.home-hero .kt-row-column-wrap {
    min-height: 204px;
}

	
}

/* Mobile M - G / iPhones ------------------ */

@media screen and (max-width: 375px) {


}

/* Mobile M - G / iPhones ------------------ */

@media screen and (max-width: 320px) {


}



